.container {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
  color: #eaecef;
}

.form_container {
  background-color: #0b0e11;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}

.title {
  margin-top: 20px;
  width: 90%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: 25px 0px;
}

.input_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.currencyid {
  color: #eaecef;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 25px;
}

.input {
  font-size: 50px;
  border: none;
  background-color: transparent;
  color: #eaecef;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  text-align: center;
  margin: 5px;
  width: 100%;
  max-width: 600px;
  margin-bottom: 25px;
}

.input::placeholder {
  color: #848e9c;
  opacity: 1;
}

.disponible{
    margin-bottom: 10px;
  }

@media (max-width: 540px) {
  .form_container {
    width: 80%;
    height: 100%;
  }

  .title {
    text-align: center;
    margin-bottom: 15px;
  }
}

@media (max-width: 720px) {
  .container {
    height: 100%;
  }
}
