.container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #181A20;
  margin-bottom: 15px;
  display: none;
  color: #eaecef;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #181A20;
  width: 90%;
  height: 60px;
}

.header img {
  margin-right: 15px;
  cursor: pointer;
}

.header h1 {
  font-size: 25px;
}

@media (max-width: 720px) {
  .container {
    display: flex;
  }
}
