.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #0b0e11;
  color: #848e9c;
  position: fixed;
  padding-left: 25px;
  top: 0;
  z-index: 600;
  transition: all 0.5s;
}

.sidebar h4{
  color: #eaecef;
}

.sidebar h4 span {
  text-transform: capitalize;
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.icon{
  width: 20px;
  height: 20px;
}

.link {
  text-decoration: none;
  color: #848e9c;
  padding: 8px;
  border-radius: 5px;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 4px 0px;
  cursor: pointer;
  transition: all 0.5s;
}

.link:hover {
  background-color: #181a20;
  color: #eaecef;
}

.link_active{
  color: #0b0e11;
  font-weight: bold;
  background-color: #fcd535;
  z-index: 10;
}

.link_active:hover{
  background-color: #fcd535;
  color: #0b0e11;
}


.user_info {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

.user_info img {
  margin-right: 5px;
}

@media (max-width: 720px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .visible {
    transform: translateX(0);
  }
}
