*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

*:focus{
  outline: none;
}

:root{
  --violeta: rgb(97, 74, 217);
  --violeta-claro: rgba(97, 74, 217, 0.2)
}

#root{
  overflow-x: hidden;
  background-color: #eee;
  min-height: 100vh;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.header-container{
  padding-top: 10px;
}

.header{
  width: 90%;
  height: 40px;
  justify-content: space-between;
}

.saldo{
  color: var(--violeta);
  font-size: 40px;
  font-weight: bold;
}

.user-img{
  background-color: var(--violeta-claro);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  padding: 5px;
  font-size: 10px;
  color: var(--violeta);
  border: 1.5px solid var(--violeta);
}

.navbar-top-container{
  margin-top: 30px;
}

.navbar-top{
  list-style: none;
  width: 95%;
  max-width: 900px;
  justify-content: space-around;
}

.navbar-top li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-navtop{
  width: 50px;
  height: 50px;
  font-size: 35px;
  font-weight: bold;
  border-radius: 50%;
  background-color: #fff;
}

.icon-navtop img{
  width: 25px;
  height: 25px;
}

.navbar-top h3{
  font-weight: normal;
  font-size: 15px;
  color: #999;
  text-align: center;
  margin-top: 5px;
}

.link-navbar-top{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-bottom-container{
  position: fixed;
  bottom: 0;
  background-color: #fff;
  z-index: 10;
  width: 100%;
  height: 40px;
  padding: 15px 0 10px 0;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.navbar-bottom{
  list-style: none;
  width: 90%;
  justify-content: space-between;
  color: #bbb;
}

.navbar-bottom li{
  flex-direction: column;
}

.bottom-icons{
  width: 25px;
  height: 25px;
  margin-bottom: 3px;
  opacity: 0.2;
}

.page-active{
  color: var(--violeta);
}

.page-active img{
  opacity: 1
}

.movimientos-section{
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
}

.movimientos-container{
  width: 95%;
  max-width: 1000px;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 25px;
  background-color: #fff;
  border-radius: 10px;
}

.movimiento{
  width: 90%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movimiento-img{
  width: 20px;
  height: 20px;
  padding: 7px;
  background-color: var(--violeta-claro);
  border-radius: 50%;
  margin-right: 10px;
}

.movimiento-nombre{
  color: #666;
  font-size: 20px;
  font-weight: 500;
  line-height: 1
}

.movimiento-date{
  color: #999;
  font-size: 12px;
}

.movimiento-saldo{
  font-size: 23px;
  font-weight: 600;
  padding: 3px 8px;
  color: #444;
}

.entrada-saldo{
  background-color: rgb(220, 255, 232);
  color: rgb(22, 224, 130);
  border-radius: 5px;
}

.saldos-container{
  margin-top: 20px;
  flex-wrap: wrap;
  width: 100%;
  /* overflow-x: scroll; */
}

.saldo-container{
  padding: 15px 10px;
  min-width: 150px;
  margin: 5px;
  border-radius: 10px;
  background-color: #fff;
  text-decoration: none;
  color: #222
}

.coin-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  margin-bottom: 5px;
}

.section-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section-title{
  margin-top: 20px;
  width: 90%;
}

.input-deposito{
  font-size: 50px;
  border: none;
  background-color: transparent;
  color: #222;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  text-align: center;
  margin: 5px;
  width: 50%;
  max-width: 600px;
  margin-bottom: 25px;
}

.retiro-moneda-container{
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.retiro-form-container{
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 15px;
}

.retiro-form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: 25px 0px;
}

.currencyid{
  color: #222;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 25px;
}

.input-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input-deposito::placeholder{
  color: #222;
  opacity: 1; 
}

.btn-form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.btn-confirmar{
  cursor: pointer;
  border: none;
  margin: 5px;
  background-color: var(--violeta);
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  border: 1px solid var(--violeta);
}

.btn-cancelar{
  border: 1px solid var(--violeta);
  margin: 5px;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--violeta);
  font-size: 15px;
  text-decoration: none;
}

.btn-volver-inicio{
  margin-top: 15px;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  color: var(--violeta);
  font-size: 12px;
  text-decoration: none;
}

.saldo-error{
  color: #f04449;
  font-weight: 600;
}

.deposit-success-container{
  background-color: var(--violeta);
  width: 90%;
  min-height: 200px;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 25px;
  color: #fff;
}

.deposit-success-container p{
  margin-top: 20px;
  text-align: center;
}

.convertir-page{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.swap{
  background-color: #fff;
  border-radius: 10px;
  min-width: 500px;
  height: 400px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swap-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.swap-select{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.swap-disponible{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swap-select p{
  font-size: 14px;
}

.swap-select select{
  border: none;
  background-color: transparent;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin: 7px;
  align-self: flex-start;
  font-size: 21px;
}

.swap-container input{
  background-color: #eee;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 18px;
}

.max-swap{
  padding: 7px;
  border-radius: 10px;
  border: 1px solid var(--violeta);
  text-align: center;
  color: var(--violeta);
  cursor: pointer;
}


@media (max-width: 540px){
  .saldos-container{
    /* justify-content: flex-start; */
    flex-direction: column;
  }

  .saldo-container{
    /* min-width: 90px;
    width: 90px;
    height: 120px; */
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .currency-container{
    display: flex;
    align-items: center;
  }

  .currency-container img{
    width: 25px;
    height: 25px;
  }

  .currency-container h3{
    margin-left: 7px;
    font-size: 20px;
  }

  .movimiento-nombre{
    font-size: 15px;
  }

  .movimiento-saldo{
    font-size: 15px;
  }

  .retiro-form-container{
    width: 100%;
    height: 100vh;
  }

  .deposit-success-container{
    width: 80%;
    min-height: 300px;
  }

  .deposito-title{
    text-align: center;
    margin-bottom: 15px;
  }
}