*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

*:focus{
  outline: none;
}

:root{
  --violeta: rgb(97, 74, 217);
  --violeta-claro: rgba(97, 74, 217, 0.2)
}

#root{
  overflow-x: hidden;
  background-color: #eee;
  min-height: 100vh;
}

.main-container{
  display: flex;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
<<<<<<< HEAD
  margin-left: 300px;
=======
  margin-left: 0px;
>>>>>>> 7a7015130c6150bf3d24fe69c442a1e7df0dc156
}

.sidebar{
  width: 250px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  padding-left: 25px;
  top: 0;
  z-index: 600;
  transition: all 1s;
}

.sidebar h4 span{
  text-transform: capitalize;
}

.sidebar ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar-link{
  text-decoration: none;
  color: #222;
  padding: 8px;
  border-radius: 5px;
  width: 90%;
  display: flex;
  align-items: center;
  margin: 2px 0px;
  cursor: pointer;
  transition: all 0.5s;
}

.sidebar-link:hover{
  background-color: #eee;
}

.sidebar-link img{
  margin-right: 5px;
}

.active{
  background-color: var(--violeta-claro);
  color: var(--violeta);
}

.user-info{
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

.user-info img{
  margin-right: 5px;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.header-container{
  padding-top: 10px;
  margin-top: 20px;
  width: 100%;
}

.header{
  width: 90%;
  height: 40px;
  flex-direction: column;
}

.header p{
  color: var(--violeta);
  font-size: 18px;
  font-weight: 600;
}

.saldo{
  color: var(--violeta);
  display: flex;
  align-items: center;
}

.saldo p{
  font-size: 35px;
  font-weight: bold;
}

.saldo img{
  margin-left: 10px;
  cursor: pointer;
}

.user-img{
  background-color: var(--violeta-claro);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  padding: 5px;
  font-size: 10px;
  color: var(--violeta);
  border: 1.5px solid var(--violeta);
}

.navbar-top-container{
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
}

.navbar-top{
  list-style: none;
  width: 95%;
  max-width: 900px;
  justify-content: space-around;
}

.navbar-top li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-navtop{
  width: 50px;
  height: 50px;
  font-size: 35px;
  font-weight: bold;
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
  background-color: #fff;
  transition: all .5s;
}

.icon-navtop:hover{
  background-color: var(--violeta-claro);
}

.icon-navtop img{
  width: 25px;
  height: 25px;
}

.navbar-top h3{
  font-weight: normal;
  font-size: 15px;
  color: #999;
  text-align: center;
  margin-top: 5px;
}

.link-navbar-top{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-bottom-container{
  position: fixed;
  bottom: 0;
  background-color: #fff;
  z-index: 10;
  width: 100%;
  height: 40px;
  padding: 15px 0 10px 0;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.navbar-bottom{
  list-style: none;
  width: 90%;
  justify-content: space-between;
  color: #bbb;
}

.navbar-bottom li{
  flex-direction: column;
}

.bottom-icons{
  width: 25px;
  height: 25px;
  margin-bottom: 3px;
  opacity: 0.2;
}

.page-active{
  color: var(--violeta);
}

.page-active img{
  opacity: 1
}

.movimientos-section{
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
  background-color: #fff;
  border-radius: 10px;
  max-width: 1000px;
  width: 95%;
  padding: 15px 0px;
  margin-bottom: 20px;
}

.movimientos-container{
  min-height: 50px;
  width: 100%;
  flex-direction: column;
  margin-top: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.movimientos-title{
  align-self: flex-start;
  margin-left: 15px;
}

.movimiento{
  width: 90%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.movimiento-img{
  width: 20px;
  height: 20px;
  padding: 7px;
  background-color: var(--violeta-claro);
  border-radius: 50%;
  margin-right: 10px;
}

.movimiento-nombre{
  color: #666;
  font-size: 20px;
  font-weight: 500;
  line-height: 1
}

.movimiento-date{
  color: #999;
  font-size: 12px;
}

.movimiento-saldo-info{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.movimiento-saldo{
  font-size: 20px;
  font-weight: 600;
  color: #444;
}

.movimiento-cambio{
  color: #222;
}

.entrada-saldo{
  color: rgb(22, 224, 130);
}

.mis-saldos{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  width: 95%;
  margin-top: 15px;
}

.mis-saldos h3{
  align-self: start;
  margin-left: 10px;
  font-size: 20px;
}

.saldos-container{
  margin-top: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.saldo-container{
  padding: 15px;
  min-width: 150px;
  height: 120px;
  margin: 5px;
  border-radius: 10px;
  background-color: #fff;
  text-decoration: none;
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
  border: 1px solid transparent;
  transition: all 1s;
}

.saldo-container:hover{
  border-color: var(--violeta);
}

.currency-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.currency-container p{
  font-weight: 600;
  font-size: 18px;
  margin-left: 5px;
}

.balance-container{
  text-align: center;
  margin-top: 15px;
}

.balance-container p:first-child{
  font-size: 22px;
  font-weight: bold;
}

.balance-ars{
  font-size: 15px;
  color: #777;
}

.coin-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.section-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section-title{
  margin-top: 20px;
  width: 90%;
}

.input-deposito{
  font-size: 50px;
  border: none;
  background-color: transparent;
  color: #222;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  text-align: center;
  margin: 5px;
  width: 50%;
  max-width: 600px;
  margin-bottom: 25px;
}

.retiro-moneda-container{
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.retiro-form-container{
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 15px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
}

.retiro-form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: 25px 0px;
}

.currencyid{
  color: #222;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 25px;
}

.input-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input-deposito::placeholder{
  color: #222;
  opacity: 1; 
}

.btn-form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.btn-confirmar{
  cursor: pointer;
  border: none;
  margin: 5px;
  background-color: var(--violeta);
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  border: 1px solid var(--violeta);
}

.btn-cancelar{
  border: 1px solid var(--violeta);
  margin: 5px;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--violeta);
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
}

.btn-volver-inicio{
  margin-top: 15px;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  color: var(--violeta);
  font-size: 12px;
  text-decoration: none;
}

.saldo-error{
  color: #f04449;
  font-weight: 600;
}

.success-container{
  background-color: var(--violeta);
  width: 80%;
  min-height: 200px;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 25px;
  color: #fff;
}

.success-container p{
  margin-top: 20px;
  text-align: center;
}

.convertir-page{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.swap{
  background-color: #fff;
  border-radius: 10px;
  min-width: 300px;
  min-height: 400px;
  max-width: 80%;
  display: flex;
  padding: 15px 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
}

.swap-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
}

.swap-select{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.swap-disponible{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swap-select p{
  font-size: 14px;
}

.swap-select select{
  border: 2px solid transparent;
  background-color: transparent;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin: 7px;
  align-self: flex-start;
  font-size: 21px;
}

.swap-input{
  background-color: #eee;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 18px;
}

.input-error{
  border: 2px solid #f04449;
}

.max-swap{
  padding: 7px;
  border-radius: 10px;
  border: 1px solid var(--violeta);
  text-align: center;
  color: var(--violeta);
  cursor: pointer;
}

.saldo-page{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saldo-page .currency-container{
  margin-top: 20px;
}

.saldo-page .currency-container p{
  font-size: 25px;
}

.balance-disponible{
  margin-bottom: 10px;
}

.balance-detalles{
  margin-top: 15px;
  text-align: center;
}

.balance-detalles p:first-child{
  font-size: 40px;
  font-weight: bold;
}

.balance-detalles p:nth-child(2){
  font-size: 20px
}

.cotizacion-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px 10px;
  margin-top: 15px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
}

.cotizacion-container p{
  font-size: 17px;
  color: #222;
  font-weight: 600;
}

.cotizacion{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 5px;
}

.modal-container{
  position: fixed;
  top: 0;
  z-index: 500;
  width: 100%;
  height: 100vh;
  background-color: rgba(34, 34, 34, 0.267);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mov-detalles{
  width: 100%;
  max-width: 300px;
  height: 250px;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  transition: all 2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-modal{
  align-self: flex-end;
  padding: 5px;
  border: none;
  background-color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.mov-name{
  font-size: 22px;
}

.mov-saldo{
  font-size: 30px;
}

.mov-info{
  margin-top: 15px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.skeleton-img{
  background-color: #eee;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.skeleton-p{
  background-color: #eee;
  height: 15px;
  width: 80px;
  border-radius: 3px;
}

.skeleton-saldo{
  background-color: #eee;
  width: 100px;
  height: 25px;
  margin: 5px;
  border-radius: 3px;
}

.loading-sk{
  background: #eee;
  min-height: 30px;
  position: relative;
  overflow: hidden;
}

.loading-sk::before{
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, #e3e3e3, transparent);
  transform: translateX(-100%);
  animation: skeleton 1s infinite;
}

.loading-dots{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 50px;
  height: 47px;
}

.loading-dots li{
  margin: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--violeta);
  animation: dots 0.6s ease-in-out infinite alternate;
}

.loading-dots li:nth-child(2){
  animation-delay: 0.2s;
}

.loading-dots li:nth-child(3){
  animation-delay: 0.4s;
}

.success-dots li{
  background-color: #fff;
}

.header-mobile-container{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  margin-bottom: 15px;
  display: none;
}

.header-mobile{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 90%;
  height: 60px;
}

.header-mobile img{
  margin-right: 15px;
}

.header-mobile h1{
  font-size: 25px;
}

@keyframes dots {
  from{
    transform: translateY(7px);
  } to {
    transform: translateY(-1px);
  }
}

@keyframes skeleton {
  100%{
    transform: translateX(100%);
  }
}

@media (max-width: 720px){
  .sidebar{
    transform: translateX(-100%);
  }

  .main{
    margin-left: 0;
  }

  .header-mobile-container{
    display: flex;
  }

  .retiro-moneda-container{
    height: 100%;
  }

  .sidebar-visible{
    transform: translateX(0);
  }
}

@media (max-width: 540px){
  .saldos-container{
    /* justify-content: flex-start; */
    flex-direction: column;
  }

  .saldo-container{
    width: 90%;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
  }

  .balance-container{
    margin: 0;
    text-align: end;
  }

  .balance-container p:first-child{
    font-size: 18px;
  }

  .currency-container{
    display: flex;
    align-items: center;
  }

  .currency-container img{
    width: 25px;
    height: 25px;
  }

  .currency-container h3{
    margin-left: 7px;
    font-size: 20px;
  }

  .movimiento-nombre{
    font-size: 15px;
  }

  .movimiento-saldo{
    font-size: 16px;
  }

  .movimiento-cambio{
    font-size: 13px;
  }

  .retiro-form-container{
    width: 80%;
    height: 100%;
  }

  .deposit-success-container{
    width: 80%;
    min-height: 300px;
  }

  .deposito-title{
    text-align: center;
    margin-bottom: 15px;
  }

  .coin-img{
    margin-right: 10px;
  }

  .mov-detalles{
    max-width: 95%;
    position: fixed;
    top:50%;
    height: 100%;
    border-radius: 25px;
  }
}
